item {
	.icon-topic {
		position: absolute;
	    top: 5px;
		left: 5px;
		width: 40px;
	}

	.avatar-item{
		background-size: cover;
	    height: auto;
	    background-position: 50%;	
	    margin-bottom: 0;				
	}

	.btn-violet {
		position: absolute;
	    top: 5px;
	    right: 5px;
	    padding: 3px 8px;
	    background-color: #8044ae;
	    color: #fff;
	    font-size: 13px;
	    border-radius: 5px;
	}
}