recomm-homepage {
	.images-item{
		position: relative;
		padding: 20px;
		background: #fff;
		border-bottom:1px solid #636363;

		a{
			.icon-topic{
				position: absolute;
			    top: 5px;
				left: 5px;
				width: 40px;
			}

		    .avatar-item{
				background-size: cover;
			    height: auto;
			    background-position: 50%;	
			    @extend .center-block;
		        width: 100%;				
		    }

		    .btn-violet{
		    	position: absolute;
			    top: 5px;
			    right: 5px;
			    padding: 3px 8px;
			    background-color: #8044ae;
			    color: #fff;
			    font-size: 13px;
			    border-radius: 5px;
		    }
		}
	}
}

item-doc-detail {
	.icon-topic{
		position: absolute;
	    top: 5px;
		left: 5px;
		width: 40px;
	}

    .avatar-item{
		background-size: cover;
	    height: auto;
	    background-position: 50%;					
	    margin-bottom: 0;
    }
}