.header-section{
	margin-top: 22px;
	// .search{
	// 	text-align: center;
	// 	padding-top: 8px;

	// 	.item-search{
	// 		.search-header{
	// 			width: 55%;
	//     		height: 25px;
	//     		border: 1px solid #b0b0b0;
	// 		}
	// 	}
	// }

	.information{
		.info-user{
			padding-right: 0px;
    		padding-left: 0px;
			p{
				margin-bottom: 0px;
				font-size: 11px;
				text-align:right;
			}
		}

		.load-card{
			padding-left: 5px;
			padding-top: 4px;

			.naptien{
				background: #f7941d;
			    border: none;
			    border-radius: 3px;
			    padding: 0px 15px 3px 15px;

			    a{
			    	color: #fff;
			    	text-transform: uppercase;
			    	font-size: 12px;
			    }
			}

			.downloaded-material{
				background: #00a651;
			    border: none;
			    border-radius: 3px;
			    padding: 0px 15px 3px 15px;
			    margin: 1px;

			    a{
			    	color: #fff;
			    	text-transform: uppercase;
			    	font-size: 12px;
			    }
			}
		}
	}
	
	// .item-search{
	// 	i{
	// 		position: absolute;
	// 	    right: 94px;
	// 	    color: #636363;
	// 	    top: 12.6px;
	// 	    font-weight: 600;
	// 	}

	// 	input,
	// 	input::-webkit-input-placeholder {
	// 	    font-size: 13px;
	// 		padding-left: 5px;
	// 	}
	// }

	.register-login{
		padding-top: 5px;

		.login{
			background: #f7941d;
		    padding: 6px 12px 8px 12px;
		    border-radius: 3px;

		    a{
		    	color: #fff;
		    	text-transform: uppercase;
			    font-size: 12px;
			    text-decoration: none;
		    }
		}

		.register{
			background: #285395;
		    padding: 6px 25px 8px 25px;
		    border-radius: 3px;
		    margin-left: 1px;

		    a{
		    	color: #fff;
		    	text-transform: uppercase;
			    font-size: 12px;
			    text-decoration: none;
		    }
		}
	}
}

.menu-section{
	padding-left:0px !important;
	padding-right:0px !important;

	.banner{
		background: $red;
	}

	.nav-primary{
		.main-menu{
			background: $red;

			ul{
				padding-left:0px;
				padding-top: 4px;

				li{
					display: inline-block;
					float: left;

					a{
						padding: 9px 15px 6px 15px;
						color: #fff;
						text-transform: uppercase;
						text-decoration: none;
						font-size: 12px;
						font-weight: 600;
					}

					a:hover{
						background: #af2b2b;
						opacity: 4;
					}

					.sub-menu{
						display:none;
						position:absolute;
						min-width: 10%;
						li{
							background:#fff;
							width: 85%;
    						border: 1px solid #cccccc;
    						white-space: nowrap;
						    position: relative;
						    z-index: 999;
							height: 30px;

						    a{
						    	background: unset;
    							opacity: unset;
    							color: black;
    							display: block;
    							width: 100%;
						    }

						    a::after{
						    	content: "\f054";
						    	font-family: FontAwesome;
						    	font-style: normal;
							    font-weight: normal;
							    text-decoration: inherit;
							    float: right;
						    }

    						.sub-menu{
    							left: 100%;
    							top: -5px;
								width: 255px;
    							li{
    								border: 1px solid #cccccc;
									width: 100%;

    								a{
    									color: black;
    								}

    								a::after{
										content: "\f054";
								    	font-family: FontAwesome;
								    	font-style: normal;
									    font-weight: normal;
									    text-decoration: inherit;
									    float: right;
    								}
    							}

    							.sub-menu{
    								width: 100%;

    								li{
    									a{
    										color: #000;
    									}
    									a::after{
    										background: #fff;
    									}
    								}
    							}
    						}
						}

						li:first-child{
							border-top: 1px solid #fff;
						}
					}

				}

				li{
					.sub-menu{
						li:hover{
							background:#cccccc;
							a{
								color: #fff;
							}

							.sub-menu{
								li:hover{
									background:#cccccc;
									
									a{
										color: #fff;
									}

									.sub-menu{
										li{
											a{
												color: black;
											}
										}
										li:hover{
											background:#cccccc;
											a{
												color: #fff;
											}

											a::after{
												background:#cccccc;
											}
										}
									}
								}
							}
						}
					}
				}

				
			}
		}

		.vc-class-menu1 .menu-section{
			height: 32px;
		}
	}
}

.menu-section{
	ul{
		margin-bottom: 0px;
	}
}

.banner{
	.container{
		margin-top: 15px;
	}
}

.item-search {
	top: 50%;
    // transform: translateY(45%);
    .center-block {
    	display: block;
	    margin-left: auto;
	    margin-right: auto;
    }
	.search-form{
		.search-field {
			border-radius: 0;
			padding-top: 5px;
    		padding-bottom: 5px;
		}
		.input-group-custom {
			font-size: 16px;
			position: absolute;
			right: 10px;
			z-index: 9999;
			height: 100%;
			.search-submit {
				height: 99%;
			    background-color: transparent;
			    border: none;
			    color: #ccc;
			    cursor: pointer;
			    outline: none;
			}
		}
	}
}