.content-homepage{
	.tailieu-homepage{
		margin-top: 20px;
	}

}

/* 

   5 columns grid for 'md' and 'lg' screens

*/

@media (min-width: 768px){
	.list-item{
		.col-md-3 {
		    -ms-flex: 0 0 25%;
		    flex: 0 0 25%;
		    max-width: 20%;
		}
	}
}


.title-categori{
	border-bottom: 1px solid #010101;

	.title{
		display: inline-block;
	    background: $red;
	    color: #fff;
	    text-transform: uppercase;
	    font-size: 14px;
	    padding: 10px 15px 8px 15px;
	    border-radius: 0px 20px 0px 0px;
	    margin-bottom: 0px;
	    border-bottom: 1px solid $red;
	    position: relative;
	    top: 1px;
	    font-weight: 600;
	}

	.url-list-item{
		display: inline-block;
	    margin-bottom: 0px;
	    float: right;
	    margin-top: 8px;
	    font-weight: 600;
	    a{
	    	color: #000000;
	    	font-size: 14px;
	    }
	}
}

.list-item{
	margin-top: 25px;
	
	.recomm-homepage{
	    margin-bottom: 25px;
		
		@extend recomm-homepage;
	}

	.info-item{
		background: #fff;
		padding: 5px 10px 5px 10px;
		min-height: 60px;

		p{
			margin-bottom: 0px;
			color: black;
			font-size: 12px;
			font-weight: 600;
		}
	}
}