.vc-class-menu1 {
	.menu-section {
	    background: $main-menu;
	    height: 40px;
	    .menu-wrap {

	    }
	    .menu {
	        min-height: 40px;
	        .main-menu {
	            > ul {
	                > li {
	                    float: left;
	                    position: relative;
	                    a {
	                        line-height: $heightMenu;
	                        border-right: 2px solid #fff;
	                        &:hover {
	                            color: #ffff00;
	                        }
	                    }
	                    .sub-menu {
	                        background: #ca1e25 none repeat scroll 0 0;
	                        padding-left: 15px;
	                        left: 0;
	                        /*opacity: 0.8;*/
	                        display: none;
	                        position: absolute;
	                        z-index: 2222;
	                        min-width: 250px;
	                        width: 665px;
	                        min-height: 200px;
	                        padding-bottom: 20px;
	                        & > li.menu-item {
	                            margin-top: 20px;
	                            width: 50%;
	                            border: none;
	                            float: left;
	                            i._before, i._after {
	                                margin-right: 10px;
	                            }
	                            &:hover {
	                                a {
	                                    color: #ffff00;
	                                }
	                            }
	                            a {
	                                border: none;
	                                line-height: normal;
	                            }
	                        }
	                    }
	                }
	            }
	            ul {
	                li {
	                    position: relative;
	                    list-style: none;
	                    &:hover {
	                        > .sub-menu {
	                            /*display: block;*/
	                        }
	                        > a::after {
	                            max-width: 100%;
	                        }
	                        
	                    }
	                    a {
	                        font-family: OpenSans-Regular;
	                        color: #ffffff;
	                        padding: 2px 24px;
	                        position: relative;
	                        text-transform: uppercase;
	                        font-size: 14px;
	                    }
	                }
	                ul li a {
	                    padding: 10px 8px;
	                }
	                .current-menu-item > a {
	                    position: relative;
	                    color: #ffff00;
	                }
	            }
	            .menu-primary {
	                padding-left: 75px;
	                height: $heightMenu;
	            }
	        }
	    }
	}
	.mean-container {
        .mean-bar {
            background: none;
            left: 0;
            position: absolute;
            top: 3px;
            z-index: 99;
            max-width: 480px;
            .meanmenu-reveal {
                left: 0 !important;
                top: 0;
            }
            .mean-nav {
                background: #02923d none repeat scroll 0 0 !important;
                margin-top: 45px;
            }
        }
        .mean-nav ul li {
            .mean-expand {
                height: 14px;
                line-height: 14px;
                width: 20px;
                &:hover {
                    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
                }
            }
            a {
                padding: 10px 5%;
                font-size: 13px;
            }
            li {
                a {
                    padding: 10px 10%;
                }
                li a {
                    width: 80%;
                }
            }
        }
    }
}