.sidebar-section {
	.title {
		text-transform: uppercase;
		font-size: 14px;
		padding-bottom: 5px;
		border-bottom: 1px solid #000; 
		color: #363e8b;
		font-weight: 600;
		margin-bottom: 15px;
	}
	.relation-file {
		.item {
			margin-bottom: 20px;
			margin-left: 0;
			margin-right: 0;
			.img-area {
				border: 1px solid #ccc;
				padding: 10px;
				background-color: #fff;
				@extend item;
				.icon-topic {
					width: 30%;
				}
			}
			.title-package {
				padding-left: 10px;
				a {
					color: #000;
					font-size: 15px;
    				font-weight: 600;
    				&:hover {
    					color: $red;
    				}
				}
			}
		}
	}
}