// .uploadfrontend-section {
// 	.input-group-addon {
// 		display: none;
// 	}
// 	.fa {
// 		display: none;
// 	}
// 	.w3eden {
// 		.col-md-6 {
// 		    width: 100%;
// 		    max-width: 100%;
// 		    flex: 0 0 100%;
// 		    &:first-child {
// 		    	margin-bottom: 15px;
// 		    }
// 		}
// 	}
// }