.wrapper-uploadhistory {
	.table-garung {
		margin-top: 15px;
		.thead {
			tr {
				th {
					background-color: #f59c00 !important; 
					text-align: center;
					font-size: 12px;
					color: #fff;
				}
			}
		}
	}
}