.uploadfrontend-section {
	margin-top: 10px;
	background-color: #fff;
	padding: 20px;
	.wpdm-front {
		form#wpdm-pf {
			.table-custom-upload {
				tr {
					td:first-child {
						width: 28%;
					}
				}
			}
		}
	}
}