.dashboard-section {
	margin-top: 30px;
	a {
		font-family: OpenSans-Regular;
	}
	.user-dashboard {
		font-family: OpenSans-Regular !important;
		color: #000;
		label {
			font-size: 16px !important;
    		color: #000 !important;
		}
		input.form-control {
			height: 30px !important;
		}
		#wpdm-dashboard-sidebar {
			.item-menu-left {
				border-radius: 0;
				margin-bottom: 10px;
				&:hover {
					.list-group-item {
						background: #00a651 !important;
				    	color: #fff;
					}
				}
			    .list-group-item {
					color: #000;
				    font-size: 16px;
				    .fa {
			        	margin-right: 13px;
				    }
			    	&.selected {
						background: #00a651 !important;
				    	color: #fff;
					}
			    }
			}
		}
	}
}