@media(max-width:992px){
	.nav-primary{
		display: none;
	}

	.mobile-menu.mean-container .mean-bar{
		float: none;
		background: $red;

		a.meanmenu-reveal{
			left: 0px !important;
		}

		.mean-nav{
			margin-top: 46px;
		}

		.mean-nav{
			margin-bottom: 25px;

			ul{
				li{
					background:$red;

					a.mean-expand:hover{
						background:$red;
					}
				}
			}
		}
	}
}

@media(max-width:991px){
	.header-section{
		text-align:center;

		.logo{
			flex: unset;
    		max-width: unset;
    		margin-bottom: 15px;
		}

		.search{
			flex: unset;
    		max-width: unset;
		    margin-bottom: 20px;
		}

		.login-resgiter{
    		-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		}

		.information{
			.load-card{
				text-align: left;
			}
		}

		.information{
			.info-user{
				-ms-flex: 0 0 50%;
			    flex: 0 0 50%;
			    max-width: 50%;
			}

			.load-card{
				-ms-flex: 0 0 50%;
			    flex: 0 0 50%;
			    max-width: 50%;
			}
		}
	}
}

@media(max-width:767px){

}

@media(max-width:567px){
	.header-section{
		.info-user{
			max-width: 50%;
		}

		.load-card{
			max-width: 50%;
		}
	}
}

@media(max-width:414px){
	
}

@media(max-width:400px){

}