@media only screen and (min-width: 992px) and (max-width:1024px){
	.user-dashboard{
		#wpdm-dashboard-contents{
			#edit-profile-form{
				.row{
					.col-sm-9{
						-ms-flex: 0 0 100%;
					    flex: 0 0 100%;
					    max-width: 100%;
					}
				}
			}
		}
	}
}