@media only screen and (max-width: 663px) {
	.template-vicoders {
		.detail-base {
			.img-area {
			    max-height: 200px;
				.avatar-item {
				}
			}
			.title {
				margin-top: 15px;
			}
			.view-down-group {
			}
			.price-group {
			}
			.description {
				
			}
			.btn-download {
				.btn {
					margin-bottom: 10px; 
				}
				#enoughmoney {
					.modal-dialog {
					
					}
				}
				#poormoney {
					.modal-dialog {
					
					}
				}
				.button-check {
					
				}
				.notify-text {
					
				}
			}
		}
		.detail-extend {
			.doc-preview {
				iframe {
					
				}
			}
		}
	}
}