@media screen and (max-width: 663px) {
	.input-group-custom {
		// position: absolute;
		// height: 100%;
		// width: 40px;
		background-color: #fff;
		border-left: none;
	}
	.item-search {
		margin-bottom: 30px;
		.input-group-custom {
			height: 90% !important;
		    margin-top: 2px;
		    margin-bottom: 2px;
			.search-field {
				border-radius: 0;
				border-top-left-radius: 0;
		    	border-bottom-left-radius: 0;
			}
		}
	}
}