// mixin
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
}

@mixin transform($value) {
	transform: $value;
	-moz-transform: $value;
	-webkit-transform: $value;
	-o-transform: $value;
	-ms-transform: $value;
}

@mixin box-shadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	-o-box-shadow: $value;
	-ms-box-shadow: $value;
}

@mixin filter($value) {
	filter: $value;
	-moz-filter: $value;
	-webkit-filter: $value;
	-o-filter: $value;
	-ms-filter: $value;
}

@mixin transition($value) {
	transition: $value;
	-moz-transition: $value;
	-webkit-transition: $value;
	-o-transition: $value;
	-ms-transition: $value;
}

@mixin animation($value) {
	animation: $value;
	-moz-animation: $value;
	-webkit-animation: $value;
	-o-animation: $value;
	-ms-animation: $value;
}

@mixin transform-origin($value) {
	transform-origin: $value;
	-moz-transform-origin: $value;
	-webkit-transform-origin: $value;
	-o-transform-origin: $value;
	-ms-transform-origin: $value;
}

/* .class { @include transform( 0 ); } */

@mixin title-color() {
	color: #ed1c24;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

@mixin background-gradient-mutil($color1, $color2, $color3, $color4, $color5, $color6, $color7) {
    background: linear-gradient($color1, $color2, $color3, $color4, $color5, $color6, $color7); /* Standard syntax */
    background: -moz-linear-gradient($color1, $color2, $color3, $color4, $color5, $color6, $color7); /* Standard syntax */
    background: -webkit-linear-gradient($color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Opera 11.1 to 12.0 */
    background: -ms-linear-gradient($color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Firefox 3.6 to 15 */
}

@mixin rotate($deg) {
	-ms-transform: rotate($deg); /* IE 9 */
    -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
    transform: rotate($deg);
}