@media(max-width:767px){
	.list-item{
		.col-md-3{
			max-width: unset;
		}

		.recomm-homepage{
			.images-item{
				padding: 18px 16px 15px 16px;

				a{
					.avatar-item{
						width: 100%;
					}
				}
			}
		}
	}
}