@media only screen and (min-width: 664px) and (max-width: 767px) {
	.template-vicoders {
		.detail-base {
			.img-area {
			    max-height: 180px;
				.avatar-item {
				}
			}
			.title {
				margin-top: 15px;
			}
			.view-down-group {
			}
			.price-group {
			}
			.description {
				
			}
			.btn-download {
				.btn {
					margin-bottom: 10px; 
				}
				#enoughmoney {
					.modal-dialog {
					
					}
				}
				#poormoney {
					.modal-dialog {
					
					}
				}
				.button-check {
					
				}
				.notify-text {
					
				}
			}
		}
		.detail-extend {
			.doc-preview {
				iframe {
					
				}
			}
		}
	}
	.package-section {
		.yellow-2-bg , .blue-2-bg, .green-2-bg {
			font-size: 24px !important;
		}
	}
}