@media only screen and (max-width: 768px) {
	.sidebar-section {
		.relation-file {
			.item {
				.title-package {
					text-align: center !important;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
	.sidebar-section {
		.relation-file {
			.item {
				.title-package {
					text-align: center !important;
				}
				.img-area {
					-ms-flex: 0 0 45%;
				    flex: 0 0 45%;
				    max-width: 45%;
				}
			}
		}
	}
}