@media only screen and (min-width: 480px) and (max-width:767px){
	.folder-tailieu{
		.parent_cat{
			.images_parent_cat{
				.img-responsive {
					
				}
			}
			.name_parent_cat {
				.title-item {
					font-size: 16px;	
				}
				.count_post {
					font-size: 14px;
				}
			}
		}
	}
	.list-tailieu {
		.list-item {
			.info-item {
				.title-item {
					font-size: 16px;
				}
				.count_post {
					font-size: 14px;
				}
			}
		}
	}
}

@media(max-width:767px){
	.folder-tailieu{
		.parent_cat{
			.images_parent_cat{
				padding: 45px;
				.img-responsive {
					
				}
			}
			.name_parent_cat {
				.title-item {
					font-size: 16px;
				}
				.count_post {
					font-size: 14px;
				}
			}
		}
		.list-folder {
			margin-bottom: 20px;
		}
	}
	.list-tailieu {
		.list-item {
			.info-item {
				.title-item {
					font-size: 16px;
				}
				.count_post {
					font-size: 14px;
				}
			}
		}
	}
}